[Desktop Entry]
Categories=System;
Exec=helix-toggle-touch
GenericName=Toggle touch
Icon=white-black-hand
Name=Toggle Touch
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
