[Desktop Entry]
Categories=System;
Exec=helix-rotate left
GenericName=Rotate screen left
Icon=object-rotate-left
Name=Rotate Screen Left
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
